*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: (--font-poppins-medium);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppin-semibold;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}
 
 :root{
     /* colors  */
     --base : #0B0E13;
     --primary-color: #27DEBF;
     --secondry-color: #71FCE5;
     --main-color: #055E4E;
     --gradient-primary: 45deg, #27DEBE, #055E4E;
     --color-primary-04: rgb(39, 222, 191, 4%);
     --color-white-80: rgb(255,255,255, 80%);
     --color-black: #000000;
     --PanelBg: rgb(4,106,45);
     --PanelGradient: linear-gradient(0deg, rgba(4,106,45,1) 18%, rgba(84,167,115,1) 56%);
 
 
     /* fonts  */
     --font-poppins-regular: Poppins-Regular;
     --font-poppins-medium: Poppins-Medium;
     --font-poppins-bold: Poppins-Bold;
     --font-poppins-semibold: Poppin-semibold;
 
 
     /* font size  */
     --font-54: 54px;
     --font-48: 48px;
     --font-44: 44px;
     --font-38: 38px;
     --font-32: 32px;
     --font-28: 28px;
     --font-24: 24px;
     --font-18: 18px;
     --font-16: 16px;
     --font-16: 15px;
     --font-14: 14px;
     --font-12: 12px;
 
 
     /* line height  */
     --line-60 : 60px;
     --line-38 : 38px;
     --line-30 : 30px;
     --line-22 : 22px;
     --line-20 : 20px;           
}

@media (max-width: 1200px ) and (min-width: 1100px){

}

/* iPad Air Pro - Portrait */
@media (max-width: 1099.98px ) and (max-height: 1366px){

    html{
        height: 100%;
    }

    .Page{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    
    .header-links, .cta-button{display: none; }

    .side-menu{
        display: block;
        height: 45px;
        margin: -15px 0 0 0;
        text-align: end;
        position: relative;
        left: 56rem;
    }

    .side-menu img{
        height: 45px; 
    }

    .nav-logo{
        margin-left: 10px;
    }

    .home-pic{ display: none;}

    .main{
        display: flex;
        justify-content: center;
    }

    .parent{ 
        /* border: 1px solid red; */
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .analog-parent{
        height: auto;
        margin: 10rem 0 -20rem 0
    }
    
    .digital-parent{
        height: auto;
        margin: 0 0 16rem 0 ;
    }

    .analog, .digital{ 
        border-radius: 10px;
        border: solid 1px white;
    }

    .analog-card, .digital-card{ height: 400px;}

    .analog-img{
        height: 40rem;
        left: -244px;
        top: -18rem;
    }

    .digital-parent img{
        height: 40rem;
    }

    .digital h1, .analog h1{ text-align: center; }

    .digital p, .analog p{ text-align: center; }

    .footer{ margin-top: auto; }
}

/* iPad Air - Portrait */
@media (max-width: 820px) and (max-height: 1180px){
    
    .side-menu{ left: 43rem;}

    .analog-parent{
        height: auto;
        margin: 10rem 0 -21rem 0
    }
    
    .digital-parent{
        height: auto;
        margin: 0 0 16rem 0 ;
    }

    .analog-card, .digital-card{ height: 300px;}

    .analog-img{
        height: 35rem;
        left: -175.7px;
        top: -15.5rem;   
    }

    .digital-parent img{ height: 35rem;}
}

/* iPad Mini - Portrait */
@media (max-width: 768px) and (max-height: 1024px){

    .side-menu{ left: 40.5rem;}

    .analog-parent{
        height: auto;
        margin: 10rem 0 -6rem 0;
    }
    
    .digital-parent{
        height: auto;
        margin: 0 0 16rem 0 ;
    }

    .analog-card, .digital-card{ height: 300px;}

    .analog-img{
        height: 35rem;
        left: -150px;
        top: -15.5rem;    
    }

    .digital-parent img{ height: 35rem;}
}

/* Mid Tab - Portrait */
@media (max-width: 600px) and (max-height: 1024px){

    .side-menu{ left: 30.5rem;}

    .analog-parent{
        height: auto;
        margin: 10rem 0 -6rem 0;
    }
    
    .digital-parent{
        height: auto;
        margin: 0 0 16rem 0 ;
    }

    .analog-card, .digital-card{ height: 300px;}

    .analog-img{
        height: 35rem;
        left: -66px;
        top: -15.5rem;    
    }

    .digital-parent img{ height: 35rem;}
}



